<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../assets/css/marca.css">
    <title>Entregas</title>
</head>

<body>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item nav-item-custom-1"><a href="loja.html" class="nav-link" aria-current="page">Gerenciamento
                    de Produtos</a></li>
            <li class="nav-item nav-item-custom-2"><a href="#" class="nav-link active">Entregas</a></li>
            <li class="nav-item nav-item-custom-1"><a href="estatisticas.html" class="nav-link">Métricas estatísticas</a></li>
            <li class="nav-item nav-item-custom-1"><a href="contas.html" class="nav-link">Contas</a></li>
        </ul>
    </header>
    
</body>

</html>