<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <title>Lojista Logado</title>
</head>
<style>
    .nav-item-custom-1 .nav-link {
        color: black; /* Substitua pela cor desejada */
    }
  
    .nav-item-custom-2 .nav-link.active{
        background-color: black;
        color: white; /* Substitua pela cor desejada */
    }
  </style>
<body>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item nav-item-custom-2"><a href="#" class="nav-link active" aria-current="page">Gerenciamento de Produtos</a></li>
          <li class="nav-item nav-item-custom-1"><a href="../produtos/produtos.html" class="nav-link">Entregas</a></li>
          <li class="nav-item nav-item-custom-1"><a href="../perguntas/perguntas.html" class="nav-link">Métricas estatísticas</a></li>
          <li class="nav-item nav-item-custom-1"><a href="../sobre/sobre.html" class="nav-link">Contas</a></li>
        </ul>
    </header>
    <div class="container">
        <div class="row mt-2">
            <h1 class="text-center" id="title">Bem vindo Empresa X</h1>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Operações de produtos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <button type="button" class="btn btn-dark m-3" data-bs-toggle="modal" data-bs-target="#modalAddProduto">Visualizar Produtos</button>
                                <button type="button" class="btn btn-dark m-3" data-bs-toggle="modal" data-bs-target="#modalAddProduto">Adicionar Produto</button>
                                <button type="button" class="btn btn-dark m-3" data-bs-toggle="modal" data-bs-target="#modalAddProduto">Editar Produto</button>
                                <button type="button" class="btn btn-dark m-3" data-bs-toggle="modal" data-bs-target="#modalAddProduto">Remover Produto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                  
        </div>
    </div>
</body>
</html>